@using BetEx247.Data.Model;

@model List<PSV_MYBET>
@{
    ViewBag.Title = "BettingPL";
    Layout = null;
}

<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <div class="create-account-box">
        <div class="account-box-title">
            Betting P/L
        </div>
        <div class="account-box-filter AccountRegForm">           
            @Html.Partial("AccountReportSearch2")
        </div>
        <div class="account-box-result-heading">
            @Html.Partial("PaggerControl")
        </div>
        <!--DIV BETTING P/L-->
        <div id="dv-commission" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        No. of Bets
                    </th>
                    <th>
                        Matched Turnover
                    </th>
                    <th>
                        Settled Gross P/L
                    </th>
                    <th>
                        Commission paid
                    </th>
                    <th>
                        Settled Net P/L
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatchTurnOver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrossProfit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NetProfit)
                        </td>                        
                    </tr>
                }
                <tr>
                    <td>
                        Settled Bets within 24 hours
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        1/3
                    </td>
                    <td>
                        57.25
                    </td>
                    <td>
                        2.65
                    </td>
                    <td>
                        54.39
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="txtaction" name="txtaction" value="MyBetHistory"/>
<input type="hidden" id="txtrpType" name="txtrpType" value="4"/>