@model IEnumerable<BetEx247.Data.Model.PSV_MYBET>

@{
    ViewBag.Title = "CancelledBets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Content/Scripts/GUI/AccountHistory.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/GUI/Common.js")" type="text/javascript"></script>

<h2>CancelledBets</h2>
@Html.Partial("AccountReportSearch")
<table width="70%">
    <tr>        
        <th>
            Date
        </th>              
        <th>
            Bet ID
        </th>
        <th>
            Market
        </th>        
        <th>
            Entrant
        </th>        
        <th>
            B/L
        </th>          
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitedTime)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.BetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SportName+" - "+item.LeagueName)
        </td>                   
        <td>
           @Html.DisplayFor(modelItem=>item.Entrant) 
        </td>          
        <td>
            @{
                if (item.BL != null && item.BL.Value)
                {
                    @Html.Raw("Bet")
                }
                else
                {
                    @Html.Raw("Lay")
                }
            }        
        </td>                      
    </tr>
}

</table>
