@using BetEx247.Data.Model;
@using BetEx247.Core.Common.Utils;

@model List<PSV_MYBET>
@{
    ViewBag.Title = "Exposure";
    decimal exposure = 0;
    Layout = null;
}
<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <form action="/Exposure" method="post" class="AccountRegForm">
    <div class="create-account-box">
        <div class="account-box-title">
            Exposure
        </div>
        <!--DIV EXPOSURE-->
        <div id="dv-exposure" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Exposure
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    exposure += item.Stake;
                    <tr>
                        <td>
                            @CommonHelper.FormatDateTime(item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                color: #000;">
                                @CommonHelper.FormatDateTime(item.StartDateTime)</div>
                            <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                color: #000; font-weight: bold;">
                                @item.HomeTeam v @item.AwayTeam</div>
                        </td>
                        <td>
                            @item.MarketID
                        </td>
                        <td>
                            @item.BL
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Stake)
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Price)
                        </td>
                        <td>
                            @item.BetStatus
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Exposure)
                        </td>
                    </tr>
                }
              
            </table>
        </div>
        <div id="dv-exposuretotal" style="clear: both; position: relative; text-align: right;
            font-weight: bold; padding-right: 10px; padding-top: 10px; padding-bottom: 15px;
            background-color: #fff; color: #000;">
            Total Exposure:&nbsp;&nbsp;&nbsp; USD @CommonHelper.FormatMoney(exposure)
        </div>
    </div>
    </form>
</div>
