@using BetEx247.Data.Model;
@model List<PSV_MYBET>
@{
    ViewBag.Title = "Exposure";
    Layout = null;
}
<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <form action="/Exposure" method="post" class="AccountRegForm">
    <div class="create-account-box">
        <div class="account-box-title">
            Exposure
        </div>
        <!--DIV EXPOSURE-->
        <div id="dv-exposure" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Exposure
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                color: #000;">
                                @Html.DisplayFor(modelItem => item.StartDateTime)</div>
                            <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                color: #000; font-weight: bold;">
                                @Html.DisplayFor(modelItem => item.HomeTeam) v @Html.DisplayFor(modelItem => item.AwayTeam)</div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exposure)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        2012-10-30 17:35
                    </td>
                    <td>
                        2983472349
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Manchester to win (FT)
                    </td>
                    <td>
                        L
                    </td>
                    <td>
                        50.00
                    </td>
                    <td>
                        1.68
                    </td>
                    <td>
                        <span class="won">Unsettled</span>
                    </td>
                    <td>
                        84.00
                    </td>
                </tr>
            </table>
        </div>
        <div id="dv-exposuretotal" style="clear: both; position: relative; text-align: right;
            font-weight: bold; padding-right: 10px; padding-top: 10px; padding-bottom: 15px;
            background-color: #fff; color: #000;">
            Total Exposure:&nbsp;&nbsp;&nbsp; USD 755.00
        </div>
    </div>
    </form>
</div>
