@model BetEx247.Data.Model.Member
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="middle_column_1">
    <div id="contentbox" class="clearfix">
        <h2>
            MyProfile</h2>
        <script src="@Url.Content("~/Content/Scripts/JQuery/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Member</legend>
                @Html.HiddenFor(model => model.MemberID)
                <div class="editor-label">
                    @Html.LabelFor(model => model.NickName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NickName)
                    @Html.ValidationMessageFor(model => model.NickName)
                </div>                  
                <div class="editor-label">
                    @Html.LabelFor(model => model.SecurityQuestion1)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SecurityQuestion1)
                    @Html.ValidationMessageFor(model => model.SecurityQuestion1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SecurityQuestion2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SecurityQuestion2)
                    @Html.ValidationMessageFor(model => model.SecurityQuestion2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SecurityAnswer1)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SecurityAnswer1)
                    @Html.ValidationMessageFor(model => model.SecurityAnswer1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SecurityAnswer2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SecurityAnswer2)
                    @Html.ValidationMessageFor(model => model.SecurityAnswer2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.MiddleName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MiddleName)
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Country)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Country)
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.City)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.PostalCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PostalCode)
                    @Html.ValidationMessageFor(model => model.PostalCode)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Telephone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Telephone)
                    @Html.ValidationMessageFor(model => model.Telephone)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Cellphone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Cellphone)
                    @Html.ValidationMessageFor(model => model.Cellphone)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email1)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email1)
                    @Html.ValidationMessageFor(model => model.Email1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email2)
                    @Html.ValidationMessageFor(model => model.Email2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Gender)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Gender)
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>                
                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }
    </div>
</div>
       