@using CaptchaMvc.HtmlHelpers
@model BetEx247.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/form-validate.css")" media="screen" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/right_col.css")" media="screen" />
<script src="@Url.Content("~/Content/Scripts/JQuery/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/JQuery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/JQuery/jquery.maskedinput.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        betex247.getallsport();
        $("#CreateAccount").addClass("AccountRegForm");
        $("#CaptchaInputText").addClass("text-input");
    });
</script>
<div id="middle_column">
    <div id="contentbox" class="clearfix">
        <h1 class="sports_header">
            CREATE ACCOUNT</h1>
        @using (Html.BeginForm("register", "account", FormMethod.Post, new { @id = "CreateAccount" }))
        {    
                                                   
            <div class="create-account-box">
                   
                <div class="rb">
                    Detail</div>
                <div style="color: Red;padding:5px 10px 0 10px;">@Html.ValidationSummary(false)</div>       
                         
                <table cellpadding="3" cellspacing="2">                    
                    <tr>
                        <td width="150">
                            Given Name (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.FirstName, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.FirstName)<span class="hint1">[help]</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Middle Name
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.MiddleName, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.MiddleName)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Last Name (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.LastName, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Gender (*)
                        </td>
                        <td width="350">
                            <label for="GenderSelection_M">
                                <input type="radio" name="Gender" id="Gender" value="true" />Male
                            </label>
                            &nbsp;
                            <label for="GenderSelection_F">
                                <input type="radio" name="Gender" id="Gender" value="false" />Female
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Suffix
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.Suffix, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.Suffix)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Date of birth (*)<br />
                            (MM-DD-YYYY)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.Birthday, new { @class = "text-input", maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.Suffix)<br />
                            Important : Underage gambling is a criminal offense.
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Email address (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.Email, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Re-enter Email address (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.ConfirmEmail, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.ConfirmEmail)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Country (*)
                        </td>
                        <td width="350">
                            @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.ListCountry, "--Select--", new { id = "Country" })
                            @Html.ValidationMessageFor(model => model.Country)
                        </td>
                    </tr>
                </table>
                <div class="rb">
                    Account Details</div>
                <br />
                <table cellpadding="3" cellspacing="2">
                    <tr>
                        <td>
                            UserID
                        </td>
                        <td>
                            @Html.EditorFor(model => model.NickName)
                            @Html.ValidationMessageFor(model => model.NickName)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Password (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Confirm Password (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Security question 1 (*)
                        </td>
                        <td width="350">
                            <select name="SecurityQuestion1" id="SecurityQuestion1">
                                <option value="0">Select a security question</option>
                                <option value="q1">What is the name of your favourite Race Horse?</option>
                                <option value="q2">What is your favourite number?</option>
                                <option value="q3">What is your most memorable sporting moment?</option>
                                <option value="q4">What was the first sporting event you attended?</option>
                                <option value="q5">What was your favourite teacher's name?</option>
                                <option value="q6">Who was your childhood idol?</option>
                                <option value="q7">What was your grandmothers maiden name?</option>
                                <option value="q8">What was your best friend's name at school?</option>
                                <option value="q9">What is your most memorable date?</option>
                                <option value="q10">What was the make of your first car/bike?</option>
                                <option value="q11">What was your first pet's name?</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Security answer 1 (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.SecurityAnswer1, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.SecurityAnswer1)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Security question 2 (*)
                        </td>
                        <td width="350">
                            <select name="SecurityQuestion2" id="SecurityQuestion2">
                                <option value="0">Select a security question</option>
                                <option value="q1">What is the name of your favourite Race Horse?</option>
                                <option value="q2">What is your favourite number?</option>
                                <option value="q3">What is your most memorable sporting moment?</option>
                                <option value="q4">What was the first sporting event you attended?</option>
                                <option value="q5">What was your favourite teacher's name?</option>
                                <option value="q6">Who was your childhood idol?</option>
                                <option value="q7">What was your grandmothers maiden name?</option>
                                <option value="q8">What was your best friend's name at school?</option>
                                <option value="q9">What is your most memorable date?</option>
                                <option value="q10">What was the make of your first car/bike?</option>
                                <option value="q11">What was your first pet's name?</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Security answer 2 (*)
                        </td>
                        <td width="350">
                            @Html.EditorFor(model => model.SecurityAnswer2, new { @class = "text-input" })
                            @Html.ValidationMessageFor(model => model.SecurityAnswer2)
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Default Currency (*)
                        </td>
                        <td width="350">
                            @Html.DropDownList("Currency", (IEnumerable<SelectListItem>)ViewBag.CurrencyList, "Please select a currency", new { id = "Currency" })
                            @Html.ValidationMessageFor(model => model.Currency)
                        </td>
                    </tr>
                </table>
                <div class="rb">
                    Terms and Conditions</div>
                <br />
                <table cellpadding="3" cellspacing="2">
                    <tr>
                        <td width="150">
                        </td>
                        <td width="350">
                            <textarea rows="4" class="stdTextInput" readonly>Important:You must read and accept these Terms and Conditions before accessing and using this Website. By accepting the Terms and Conditions and accessing and using the Services you agree to be bound by these Terms and Conditions and you further consent to be bound by the BETEX247 Rules and Regulations and the Privacy Policy. If you do not wish to be bound by the Terms and Conditions you may not access or use the Services.

Introduction 
 
A The Exchange is operated by BETEX247, a company fully licensed as a remote betting intermediary operator (licence number 000-002750-R-104176-001) by the Gambling Commission of Great Britain, in accordance with the requirements of the Gambling Act 2005. 
B The Exchange is an online person-to-person bet exchange facility provided by BETEX247 to its Members.  Members may enter into Matched Bets with each other for which they themselves negotiate the odds.  Neither BETEX247 nor BETEX247MF is a counterparty to any bet.
C BETEX247 will take a commission, typicallybetween 3% and 5% on the winnings from each Bet.
D These Terms and Conditions are to be read in conjunction with, and incorporate by reference, the BETEX247 Rules and Regulations and the Privacy Policy from time to time in force.  If there is any inconsistency between these Terms and Conditions and any other document, the Terms and Conditions shall prevail.
E This agreement is entered into between BETEX247, BETEX247MF and each Member. BETEX247MF is a sister company of BETEX247 and has been established solely for the purpose of holding Members' funds.
 
 
AGREEMENT  
1 Definitions and interpretation  
 
 1.1 In this Deed (including the Introduction) except where the context otherwise requires, the following words and expressions shall have the following meanings:
"Available Balance" The amount of money in Your Account which has not yet been staked on a Matched Bet or committed under an Offer to Bet.
"Commission" The fee charged by BETEX247 on winnings made by Members on Matched Bets as referred to in clause 6 of these Terms and Conditions.
"Event" Any sporting (or other) event which BETEX247 has posted on the website as an event upon which Members may wish to make Offers to Bet and upon which Offers to Bet may be Matched.
"Exchange" The person-to-person bet exchange facility offered by BETEX247 for the use by the Members.
"Exposure" The maximum amount a Member can lose in respect of Matched Bet(s) and unmatched Offer(s) to Bet.
"Match" The acceptance of an Offer to Bet by a Member.
"Matched Bet" Any bet entered into by any two Members following the acceptance by one Member of another's Offer to Bet.
"Member" A registered Member of the Exchange, authorised by BETEX247 to participate in the Exchange following completion of the registration process detailed in these Terms and Conditions and the Legal section of the Website.
"Offer to Bet" An offer by any Member to enter into a Matched Bet with any other Member at the odds proposed by the offeror.
"Privacy Policy" A BETEX247 statement about what personal information is being collected; how the personal information being collected is being used; how an individual can access his/her own data collected; and what security measures are being taken by BETEX247. BETEX247's Privacy Policy is amended from time to time.
"Services" The services provided by BETEX247 and BETEX247MF in relation to its Members' use of the Exchange.
"Stake" Your maximum potential liability in the event that you lose a Matched Bet.
"BETEX247MF" BETEX247 Members Funds Limited (company registration number 4638313) whose registered office is at Newcombe House, 43-45 Notting Hill Gate, London W11 3LQ.
"BETEX247 " World Bet Exchange Limited (company registration number 04428027) whose registered office is at Newcombe House, 43-45 Notting Hill Gate, London W11 3LQ.
"BETEX247's Commission Policy" The BETEX247 statement that outlines the fees charged on winning bets.  BETEX247's Commission Policy is amended from time to time.
"BETEX247 Rules and Regulations" The betting rules policy of BETEX247 as amended from time to time;
"Website" The BETEX247 website, located at www.BETEX247.com
"Your Account" The betting account maintained on your behalf (as agent) by BETEX247MF for the purposes of your use on the Exchange as a Member (and Account shall be construed accordingly).

1.2 In this Agreement, references to the "Company", "we", "us" or "our" will mean BETEX247 unless otherwise stated.  References to "the Member" will mean a reference to you, the User.
2 How To Become a Member
2.1 In order to become a Member you must be over 18, and you must first open and maintain your Account by completing the online Registration Process on the Website and indicating your acceptance of these Terms and Conditions, the BETEX247 Rules and Regulations and the Privacy Policy.  
2.2 You agree to provide true and accurate details of those matters requested in the online Registration process including, without limitation, your name, postal address, bank account details and date of birth. You agree that immediately following any subsequent change to these details that you will notify us without delay of any such changes.
2.3 You agree that we may seek verification of the personal information that you provide to us including, without limitation, your date of birth, your postal address, your email address and your identity. In performing these
checks personal information provided by you may be disclosed to a registered credit reference agency which may keep a record of your information.
2.4 We will confirm to you by email (to the email address you provided during the registration process) whether your application for registration has been successful.  
2.5 You agree to keep your UserID and Password strictly confidential.  If we are supplied with the correct information requested in relation to any transactions on the Exchange, we shall be entitled to assume that all such requests have been made by you.
2.6 You are allowed to open more than one BETEX247 account, however if you do this you must inform us that you are already a BETEX247 Member. 
2.7 BETEX247 retains the right, in its absolute discretion, to refuse to accept the application of any person for Membership of the Exchange without any obligation to give a reason.
3 Your Member Account
3.1 All details required to make payments into your account are available on the Website in the Deposit Funds section.
3.2 Funds may be deposited to your account from your credit or debit card, by direct bank transfer or by cheque.
3.3 All Members' funds are held in stakeholder accounts held by BETEX247MF which will act as your agent in accordance with these Terms and Conditions.
3.4 All transactions in relation to the Exchange including, without limitation, payments made by BETEX247MF, are denominated in pounds sterling. BETEX247  intends to process transactions in other currencies in the future. 
3.5 We accept card payments from Mastercard, VISA, Switch/Maestro and Laser. 
3.6 Funds will be deemed to be exchanged into sterling when we have received cleared funds.  We do not offer a Bureau de Change service.  All banking, credit card or debit card charges, together with any foreign exchange charges which are incurred by us in relation to any deposit or withdrawal will be passed on to you at cost. A charge equivalent to 2% of the amount deposited is charged for card payments made using Mastercard and VISA cards.
3.7 You are responsible for all charges independently imposed by your bank and/or card issuer and we suggest that you verify those charges directly before proceeding with a proposed transaction with us.
3.8 Neither BETEX247 nor BETEX247MF extend credit to anyone for the use of the Services.
3.9 Account balances in your account will not receive interest.
3.10 Details of your account can be found on the Account section of the Website.  You agree to immediately inform us if you believe that the information in relation to your account is not correct or if it is being tampered with in which case we will suspend your account.



4 Management of Your Account by BETEX247 and BETEX247MF
4.1 BETEX247MF operates your account and calculates your Balance and your Available Balance.
4.2 As a Member, you may make an Offer to Bet.  Your betting limit is determined by your Available Balance at any given time.  You will not be able to place an offer to bet where the Exposure is greater than your Available Balance at the time. 
4.3 In addition, you may agree to Match another Member's Offer to Bet, at the odds they propose and in such amount as you wish to stake, again, provided that the Exposure does not exceed the Available balance in your Account at the time.
4.4 The winnings (less any Commission) will be paid to the Account of the winning Member when the result of the Matched Bet is known and the market has been settled.
4.5 Your Available Balance will be held for your use until you make an Offer to Bet at which point the Exposure of the Offer to Bet is deducted from your account. These funds are held by BETEX247MF as stakeholder until the result of the Matched Bet is known and the market has been settled. 
4.6 By entering into a Matched Bet, you grant to BETEX247MF irrevocable authority to transfer funds to and from Your Account to settle Matched Bets and, where applicable, to pay Commission to BETEX247.
4.7 Once you have had an Offer to Bet accepted or you have Matched an Offer to Bet the instructions to hold the Stake as stakeholder may not be cancelled and are irrevocable.
4.8 BETEX247 reserves the right, at its sole discretion, to suspend or close your Account at any time, to cancel any unmatched Offers to Bet which you may have made and to refund to you the Available Balance in your Account plus the outcome of any Matched Bets (subject to any necessary deductions including, without limitation, commission), without any obligation to notify you of a reason for such closure.
4.9 BETEX247 also reserves the right, at its sole discretion, to impose deposit limits and to refuse to accept deposits from Members, including deposits made by credit card and debit card and any other means, without any obligation to notify you of a reason for such action.
5 Closure and Withdrawal of Funds from Your Account
5.1 You may withdraw any amount in Your Account up to the Available Balance at any time in the manner prescribed in the Withdraw Funds section of the Website. 
5.2 To close Your Account and withdraw any remaining funds, it will first be necessary to cancel all Offers to Bet that are outstanding and to ensure that you have no Matched Bets outstanding.  You may cancel any Offers to Bet but the outcome of all of your Matched Bets must be determined before your Account may be closed.  
5.3 Your total withdrawals to each registered debit or credit card may not be less than the deposits from that card before you may withdraw any winnings by other means.
6 Commission
6.1 You agree that BETEX247MF may deduct and transfer the Commission to BETEX247 from your Account.  The Commission amount will be determined in accordance with BETEX247's Commission Policy as varied from time to time.  You agree that BETEX247MF may deduct and release such commission from your Account and pay it to BETEX247 and that your Account will only be credited after a successful Matched Bet with your winnings less the Commission.
6.2 BETEX247's decision as to the outcome of any Event and the consequential outcome of any Matched Bet shall be final, subject to your right to investigation internally by BETEX247 and/or arbitration under the Independent Betting Arbitration Service.
7 Operation of Service
7.1 You agree that BETEX247 shall have absolute discretion not to post any Offers to Bet on the Exchange at any time without having to give a reason and that BETEX247 shall determine when the Exchange is open for the offer and acceptance of bets.
7.2 BETEX247 retains the absolute discretion to cancel and declare null and void any Matched Bets before the outcome of the relevant Event is known without notice.
7.3 BETEX247 retains the absolute discretion to withhold any funds in your Account in circumstances where it has reason to suspect that a fraud may have been perpetrated by you or by any other Member (or third party) in relation to your activities or in circumstances where it has reason to suspect a breach of these Terms and Conditions or any associated contractual documentation (including, but not limited to, the BETEX247 Rules and Regulations) or where we are required to withhold funds by law or in order to comply with instructions from regulatory, governmental or sporting bodies.
8 Customer Warranties
8.1 You warrant to BETEX247 and to BETEX247MF that:- 
8.1.1 You are over the age of 18; 
8.1.2 You have legal capacity and full authority to enter into this agreement; 
8.1.3 You are acting as principal and not as an agent for a third party;
8.1.4 Entering into this agreement is not illegal in your jurisdiction (and you have made all appropriate enquiries to verify that this is the case) and that you will not participate in the Exchange from any country which prohibits the use of the Services;
8.1.5 You are not, and never have been, an undischarged bankrupt or in arrangements with your creditors;
8.1.6 You will make use of the Services for legitimate betting purposes only. You will not hinder the usual operation of the website in any way. You will not act to artificially increase any liability of BETEX247 to any third party including, without limitation, any tax, levy or duty.  You will not behave in any manner which may adversely affect the integrity of any market or BETEX247.
8.1.7 You are not a bookmaker as defined in section 55(1) of the Betting Gaming and Lotteries Act 1963 unless you have notified us that you are and that you are properly licenced to operate in the UK. In any event, if you are a bookmaker, you should ensure that your participation in the Exchange is not contrary to the terms of your Bookmaking Licence and, by using the Services, you accept that you are solely responsible for the accounting and payment of any General Betting Duty that may arise. If you are in any doubt of your legal position then you should take independent legal advice; 
8.1.8 All details provided by you are true and accurate and you will not conceal your true identity or location to BETEX247;
8.1.9 If using a credit or debit card at any time for the purpose of crediting your Account (including when providing details of any such card at any time in relation to your Account), you are the authorised user of such card and that you are not, nor ever have been, a fraudulent user of a credit or debit card, or cards, or any other financial instrument and that you have never required your current or any other credit or debit card provider or other financial institution to cancel (by way of chargeback or otherwise), any transaction you have entered into with any betting or other service.
8.2 BETEX247 is fully licensed in accordance with the requirements of the Gambling Act 2005. BETEX247 currently operates on the basis of continuation rights granted to its bookmaker's permit under the Gambling Act, pending the outcome of its application to the Gambling Commission of Great Britain for a remote betting intermediary licence. The onus for establishing whether or not your participation in the Service is unlawful within the country in which you are located or reside at the relevant time, is your own. BETEX247 will not accept liability for your failure to establish the lawfulness of your own activities.
8.3 You acknowledge that in participating in the Service:
8.3.1 You may not only win monies but you may also lose them; and
8.3.2 You alone will be liable for any losses sustained by you.
8.4 You agree to keep private all and any UserIDs and Passwords you might use in conjunction with the Service and you acknowledge that to disclose any such UserID or Password to any third party might lead to a breach of security of this Website and might lead to unauthorised access to the Exchange.
8.5 You agree to inform BETEX247 in writing if any information published in relation to your Account is inaccurate.
8.6 You must check the accuracy of all information relating to any Offers to Bet or Matched Bets prior to submission to the website.

9 Errors and Disputes
9.1 Should there be any error in relation to your Account, you authorise BETEX247MF to rectify the error by withdrawing funds from or depositing funds into your Account as appropriate.  Any winnings which are credited to your Account by mistake will automatically be deducted from your Account as soon as BETEX247MF becomes aware of the error and, if these funds have been withdrawn by you then it will constitute a debt from you owed to BETEX247MF.
9.2 BETEX247 is registered with the Independent Betting Adjudication Service (IBAS) who act as impartial adjudicators on disputes that arise between gambling operators and their customers. Should there be a disagreement between you and BETEX247 about the outcome of any wager, or any Account transaction, or any other issue which has not been resolved by BETEX247 to your satisfaction then BETEX247 will invite you to refer the dispute to IBAS via a written submission stating the reasons why you believe you are entitled to make the claim. 
9.3 You and BETEX247 both agree to comply with IBAS's Terms and Conditions and to be bound by IBAS's decision when any dispute is referred.
9.4 Each party will be responsible for their own costs incurred in relation to any dispute referred to IBAS.

10 Limitation of Liability and Indemnity
10.1 In no circumstances will BETEX247 be liable for any damages including, without limitation, direct or indirect, special or consequential damages or loss of profits, economic loss, business interruption, loss of information or any direct, indirect, consequential or special losses howsoever caused including but not limited to any loss of bets, loss of goodwill and loss of reputation arising out of the use of or inability to use the Service.
10.2 We accept no responsibility and shall not be liable for any consequences that are alleged to have occurred through a Member's use, or misuse of, the Services and/or the Website including misuse of a Member's UserID and Password.
10.3 The Services are provided for Members on an "as is" basis and we exclude all liability as to the Exchange's fitness for purpose.
10.4 We do not exclude liability for death or personal injury resulting from our negligence.
10.5 You will indemnify and defend us against all claims, liabilities, damages, costs and expenses, including reasonable legal fees, arising out of a breach of these Terms and Conditions or otherwise in connection with your use of the Exchange. 
11 Permitted Use of the Exchange
You agree not to use the Exchange for any unlawful purpose and will not make any use of the Exchange such that the whole or part of the Service is interrupted, damaged, or impaired in any way and you also agree not to use the Exchange or any facilities within it for the transmission or posting of any computer viruses or any material which is defamatory, offensive or of an obscene or menacing character or in such a way as to cause annoyance, inconvenience or needless anxiety to any individual, individuals or groups or institutions whatsoever and not to use the Website in a manner which may constitute a violation or infringement of the rights of any person, firm or company (including but not limited to rights of copyright or confidentiality). 
12 Intellectual Property
12.1 The information contained in the Website may not be copied, reproduced, modified, published, uploaded, posted, transmitted, or distributed in any way, without our prior written permission.
12.2 We do not grant any express or implied right to you in any intellectual property rights by virtue of your registration or use of the Exchange.
12.3 We are the owner or authorised user or licensee of all the intellectual property rights in the Website including, without limitation, any copyright, patent, registered design, trade marks, service marks, source codes, specifications, templates, graphics, logo(s) or any right subsisting in the United Kingdom or elsewhere.
12.4 You are not permitted to interfere with, infringe or violate any intellectual property rights of BETEX247 or its licensors and you agree not to interrupt or attempt to interrupt the operation of the Website. 
12.5 Unauthorised use of the uniform resource locator ('URL') www.BETEX247.com is prohibited.
13 Changes to Terms and Conditions 
BETEX247 reserves the right to change these Terms and Conditions at any time by posting a notice prominently on the Website. All amended Terms and Conditions shall automatically be effective immediately after they are posted on the Website.  It is therefore your responsibility to review these Terms and Conditions prior to each use of the Services. Any Matched Bets made prior to the date of amendment will be subject to the pre-existing terms and conditions. The continuing use of the Website and the Services by you following such modifications shall constitute acceptance of the new Terms and Conditions and you will be bound by such modifications. If you do not accept any such changes, then you should cease to use the Services and close Your Account. We recommend that you print and retain a copy of these Terms and Conditions for your records. 

14 Giving Notice
Notices given to BETEX247 or BETEX247MF under these Terms and Conditions may be given by email (in which case effective service of the notice shall only occur upon actual receipt by us of the notice) or in writing to the following address:
By Email:
memberservices@BETEX247.com or any alternative address which we notify to you at any time.

By Mail:
World Bet Exchange Limited
PO Box 55985
London
W11 9BF
United Kingdom
  
Notices given to you under these Terms and Conditions may be given in writing to the address or by email to the address which, in each case, you specified when registering as a Member or any alternative address which you notify to us at any time.

Notices and other communications delivered or mailed to the postal address or to the email address provided by you shall, until BETEX247 has received notice in writing of any different address, be deemed to have been personally delivered once sent, whether actually received or not.

15 Force Majeure
15.1 We shall not be liable for any loss or damage, and shall not otherwise be deemed to be in breach of these Terms and Conditions, due to circumstances beyond our reasonable control including, but not limited to, government or regulatory restriction, act of God, power cut, trade or labour dispute, act, failure or omission of any government or authority, the failure of electronic or mechanical equipment or communication equipment, unauthorised access, theft, operator errors, severe weather, earthquakes, floods and strikes or other labour problems. In such an event, we reserve the right to cancel or suspend the Services without incurring any liability.
15.2 In the event of the disruption to the operation of the Services or you are unable to contact us due to the failure of any equipment or software, wherever located or administered, or whether under our direct control or not, we will not be liable in any manner whatsoever.
16 General
16.1 Each provision of these Terms and Conditions shall be construed as separately applying and surviving even if for any reason one or other of those provisions is held to be inapplicable or unenforceable in any circumstances.  No waiver by us shall be construed as a waiver of any preceding or succeeding breach of any provision. 
16.2 The headings in these Terms and Conditions are for convenience of reference only and do not affect the construction or interpretation of any provision. 
16.3 The UK Contracts (Rights of Third Parties) Act 1999 does not apply to these Terms and Conditions.
16.4 No part of these Terms and Conditions may be assigned by you.
16.5 These Terms and Conditions constitute the entire agreement between you, BETEX247 and BETEX247MF with respect to their subject matter and exclude any representations and warranties previously given or made other than any negligent or fraudulent misrepresentation and may be amended only by us by posting a notice on the Website. 
16.6 Nothing in these Terms and Conditions shall be construed as creating any agency, partnership or any other form of joint enterprise between you, BETEX247 and BETEX247MF. 
16.7 These Terms and Conditions are exclusively governed by and construed in accordance with the laws of England and Wales whose courts will have non-exclusive jurisdiction.</textarea><br />
                            <br />
                            <input id="chkOver18" name="chkOver18" type="checkbox" value="true">
                            I am over 18 years of age
                            <br />
                            <input id="chkAgreeTerms" name="chkAgreeTerms" type="checkbox" value="true">
                            I agree to WBX's Terms and Conditions
                        </td>
                    </tr>
                    <tr>
                        <td width="150">
                            Please enter the text shown in the image (*)
                        </td>
                        <td width="350">
                            @Html.Captcha(5, "_DefaultCaptchaView")
                        </td>
                    </tr>
                    @* <tr>
                        <td width="150">
                        </td>
                        <td width="350">
                            <input type="text" name="captcha" id="Captcha" class="text-input" />
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="Open Account" id="FormSubmit" style="background: #EFEFEF;" />
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
@Html.Partial("_RightColumn")
<script type="text/javascript">
    $(document).ready(function () {
        $("#Telephone").addClass("phone");
        $("#Cellphone").addClass("phone");
        $("#PostalCode").addClass("zipcode");
        $("#Birthday").addClass("Birthday");
        $("input.phone").mask("(999) 999-9999");
        $("input.zipcode").mask("99999");
        $("input.Birthday").mask("99-99-9999");

        $("#FormSubmit").click(function () {
            if (!$('#CreateAccount').valid()) {
                var x = $(".validation-summary-errors").offset().left;
                var y = $(".validation-summary-errors").offset().top;
                $(".validation-summary-errors").css('background', 'white');
                window.scrollTo(x, y);
            } else {
                if ($("#chkOver18").prop('checked') == false || $("#chkAgreeTerms").prop('checked') == false) {
                    return;
                }
            }
        });
    });    
</script>
