@model IEnumerable<BetEx247.Data.Model.PSV_MYBET>
@{
    ViewBag.Title = "SettledBets";
    Layout = null;
}

<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <div class="create-account-box">
        <div class="account-box-title">
            Settled Bets
        </div>            
        <div class="account-box-filter AccountRegForm">
        @Html.Partial("AccountReportSearch")
        </div>
        <div class="account-box-result-heading">
            @Html.Partial("PaggerControl")
        </div>
        <!--DIV Settled Bets-->
        <div id="dv-commission" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Net P/L(USD)
                    </th>
                    <th>
                        Commission charged
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName_WebDisplay)
                        </td>                         
                        <td>
                            @{
                            if (item.BL != null && item.BL=="B")
                            {
                                @Html.Raw("Bet")
                            }
                            else
                            {
                                @Html.Raw("Lay")
                            }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>                        
                        <td>
                            @{
                            if (item.IsWon)
                            {
                                @Html.Raw("Won")
                            }
                            else
                            {
                                @Html.Raw("Loss")
                            }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.NetProfit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commission)
                        </td>
                    </tr>
                }
                @*<tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Manchester Utd -1
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        50
                    </td>
                    <td>
                        2.05
                    </td>
                    <td>
                        <span class="won">Won</span>
                    </td>
                    <td>
                        <span class="won">+52.50</span>
                    </td>
                    <td>
                        2.62
                    </td>
                </tr>
                <tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Manchester Utd -1/2 (First Half)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        1.88
                    </td>
                    <td>
                        <span class="lost">Lost</span>
                    </td>
                    <td>
                        <span class="lost">-20.00</span>
                    </td>
                    <td>
                        0.00
                    </td>
                </tr>
                <tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Manchester Utd v Chelseas: 3-1 (FT)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        2.17
                    </td>
                    <td>
                        <span class="lost">Lost</span>
                    </td>
                    <td>
                        <span class="lost">-10.00</span>
                    </td>
                    <td>
                        0.00
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="txtaction" name="txtaction" value="MyBetHistory"/>
<input type="hidden" id="txtrpType" name="txtrpType" value="5"/>