@using BetEx247.Core.Common.Extensions;
@using BetEx247.Core.Common.Utils;
@model IEnumerable<BetEx247.Data.Model.PSV_MYBET>
@{
    ViewBag.Title = "SettledBets";
    Layout = null;
}

<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <div class="create-account-box">
        <div class="account-box-title">
            Settled Bets
        </div>            
        <div class="account-box-filter AccountRegForm">
        @Html.Partial("AccountReportSearch")
        </div>
        <div class="account-box-result-heading">
            @Html.Partial("PaggerControl")
        </div>
        <!--DIV Settled Bets-->
        <div id="dv-commission" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Net P/L(USD)
                    </th>
                    <th>
                        Commission charged
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @CommonHelper.FormatDateTime(item.SubmitedTime)
                        </td>
                        <td>
                            @item.ID.ToString().SubStringAtEnd3(7, "", "-")
                        </td>
                        <td>
                             <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                                    color: #000;">@CommonHelper.FormatDateTime(item.StartDateTime)</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                                    color: #000; font-weight: bold;">
                                                    @item.HomeTeam v @item.AwayTeam</div>

                            
                        </td>
                        <td>
                              @item.MarketID
                        </td>                         
                        <td>
                            @{
                    if (item.BL != null && item.BL == "B")
                    {
                                @Html.Raw("B")
                    }
                    else
                    {
                                @Html.Raw("L")
                    }
                            }
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Stake)
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Price)
                        </td>                        
                        <td>
                            @{
                    if (item.IsWon)
                    {
                                @Html.Raw("Won")
                    }
                    else
                    {
                                @Html.Raw("Loss")
                    }
                            }
                        </td>
                         <td>
                            @CommonHelper.FormatMoney(item.NetProfit)
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Commission)
                        </td>
                    </tr>
                }                    
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="txtaction" name="txtaction" value="MyBetHistory"/>
<input type="hidden" id="txtrpType" name="txtrpType" value="5"/>