@using BetEx247.Core.Common.Utils;
@model IEnumerable<BetEx247.Data.Model.PSV_MYBET>
@{
    ViewBag.Title = "UnmatchedBets";
    Layout = null;
}
<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <div class="create-account-box">
        <div class="account-box-title">
            Unmatched Bets
        </div>
        <!--DIV UNMATCHED BETS-->
        <div id="dv-exposure" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th width="10%">
                        Date
                    </th>
                    <th width="5%">
                        ID
                    </th>
                    <th width="20%">
                        Match / Event
                    </th>
                    <th width="20%">
                        Market
                    </th>                         
                    <th width="3%">
                        B/L
                    </th>
                    <th width="8%">
                        Stake
                    </th>
                    <th width="8%">
                        Odds
                    </th>
                    <th width="26%">
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @CommonHelper.FormatDateTime(item.SubmitedTime)
                        </td>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                color: #000;">
                                @CommonHelper.FormatDateTime(item.StartDateTime)</div>
                            <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                color: #000; font-weight: bold;">
                                @item.HomeTeam v @item.AwayTeam</div>
                        </td>
                        <td>
                            @item.MarketID
                        </td>
                        <td>
                            @item.BL
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Stake)
                        </td>
                        <td>
                            @CommonHelper.FormatMoney(item.Price)
                        </td>
                        <td>
                            <div class="actions">
                                <div class="dv-edit">
                                    <a href="#" class="action-lnk">
                                        <div style="padding: 0px 0px">
                                            <span class="icon-edit"></span>Edit
                                        </div>
                                    </a>
                                </div>
                                <div class="dv-delete">
                                    <a href="#" class="action-lnk">
                                        <div style="padding: 0px 0px">
                                            <span class="icon-delete"></span>Delete
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
               
            </table>
        </div>
        <div id="dv-exposuretotal" style="clear: both; position: relative; text-align: right;
            font-weight: bold; padding-right: 10px; padding-top: 10px; padding-bottom: 15px;
            background-color: #fff; color: #000;">
        </div>
    </div>
</div>
