@model IEnumerable<BetEx247.Data.Model.PSV_MYBET>
@{
    ViewBag.Title = "UnmatchedBets";
    Layout = null;
}
<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <div class="create-account-box">
        <div class="account-box-title">
            Unmatched Bets
        </div>
        <!--DIV UNMATCHED BETS-->
        <div id="dv-exposure" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th width="10%">
                        Date
                    </th>
                    <th width="5%">
                        ID
                    </th>
                    <th width="20%">
                        Match / Event
                    </th>
                    <th width="20%">
                        Market
                    </th>
                    <th width="3%">
                        B/L
                    </th>
                    <th width="8%">
                        Stake
                    </th>
                    <th width="8%">
                        Odds
                    </th>
                    <th width="26%">
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @{
                            if (item.BL != null && item.BL.Value)
                            {
                                @Html.Raw("Bet")
                            }
                            else
                            {
                                @Html.Raw("Lay")
                            }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                        <div class="actions">
                            <div class="dv-edit">
                                <a href="#" class="action-lnk">
                                    <div style="padding: 0px 0px">
                                        <span class="icon-edit"></span>Edit
                                    </div>
                                </a>
                            </div>
                            <div class="dv-delete">
                                <a href="#" class="action-lnk">
                                    <div style="padding: 0px 0px">
                                        <span class="icon-delete"></span>Delete
                                    </div>
                                </a>
                            </div>
                        </div>
                    </td>
                    </tr>
                }
                <tr>
                    <td>
                        2012-10-30 17:35
                    </td>
                    <td>
                        2983472349
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Total goals Over 2/2.5 (First Half)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        50.00
                    </td>
                    <td>
                        1.87
                    </td>
                    <td>
                        <div class="actions">
                            <div class="dv-edit">
                                <a href="/Edit?id=234239" class="action-lnk">
                                    <div style="padding: 0px 0px">
                                        <span class="icon-edit"></span>Edit
                                    </div>
                                </a>
                            </div>
                            <div class="dv-delete">
                                <a href="/Delete?id=2329878" class="action-lnk">
                                    <div style="padding: 0px 0px">
                                        <span class="icon-delete"></span>Delete
                                    </div>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="dv-exposuretotal" style="clear: both; position: relative; text-align: right;
            font-weight: bold; padding-right: 10px; padding-top: 10px; padding-bottom: 15px;
            background-color: #fff; color: #000;">
        </div>
    </div>
</div>
