@using BetEx247.Data.Model;

@model List<PSV_MYBET>
@{
    ViewBag.Title = "VoidBets";
    Layout = null;
}

<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <div class="create-account-box">
        <div class="account-box-title">
            Void Bets
        </div>
         <div class="account-box-filter AccountRegForm">           
            @Html.Partial("AccountReportSearch")
        </div>
        <div class="account-box-result-heading">
            @Html.Partial("PaggerControl")
        </div>
        <!--DIV COMMISSION-->
        <div id="dv-commission" style="clear: both; position: relative;">
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName_WebDisplay)
                        </td>                         
                        <td>
                            @{
                            if (item.BL != null && item.BL=="B")
                            {
                                @Html.Raw("Bet")
                            }
                            else
                            {
                                @Html.Raw("Lay")
                            }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                         <td>
                            <span class="cancelled">Void</span>
                        </td>
                    </tr>
                }
                @*<tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Total goals Over 2/2.5 (First Half)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        1.87
                    </td>
                    <td>
                        <span class="cancelled">Void</span>
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="txtaction" name="txtaction" value="MyBetHistory"/>
<input type="hidden" id="txtrpType" name="txtrpType" value="8"/>
