@using BetEx247.Data.Model;
@{
    ViewBag.Title = "Match Markets";
    Layout = null;
    SoccerMatch match = ViewBag.Match;
    SoccerLeague league = ViewBag.League;
    SoccerCountry country = ViewBag.Countries;
}
<style>
    #tblcommon
    {
        width: 100%;
        border-collapse: collapse !important;
    }
    #tblcommon td, #tblcommon th
    {
        font-size: 1.2em !important;
        border: 1px solid #000 !important;
        padding: 3px 7px 2px 7px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    #tblcommon th
    {
        font-size: 1.4em !important;
        text-align: left !important;
        padding-top: 5px !important;
        padding-bottom: 4px !important;
        background-color: #CCC !important;
        color: #fff;
    }
    #tblcommon tr.alt td
    {
        color: #000 !important;
        background-color: #EAF2D3 !important;
        padding: 0px 0px;
    }
    
    #tblcommon-sub
    {
        width: 100%;
        background-color: #FF6 !important;
        border-collapse: collapse !important;
    }
    #tblcommon-sub tr td
    {
        font-size: 0.9em !important;
        color: #000 !important;
        border-top: 0px !important;
        border-right: 0px !important;
        border-bottom: 1px solid #000 !important;
        border-left: 0px !important;
        height: 22px;
    }
</style>
<div id="contentbox" class="clearfix">
    <h1 class="sports_header">
        @league.LeagueName_WebDisplay Coupons
        </h1>
    <div class="alt_content bdr_btm">
        <div class="event_wrap">
            <div class="soccer-heading">
                <div class="headerExtra couponTitle">
                    Soccer<br>
                    <span class="couponDate">@country.Country</span>
                </div>
            </div>
            <p>
                <div class="match-bigtitle">
                    <table width="100%">
                        <tr>
                            <td width="45%">
                                <span style="font-size: 1.2em; font-weight: bold; color: #CF0; display: inline; float: right;">
                                    @match.HomeTeam</span>
                            </td>
                            <td width="10%" style="text-align: center; color: #fff; font-size: 1.0em; height: 22px;">
                                :
                            </td>
                            <td width="45%">
                                <span style="font-size: 1.2em; font-weight: bold; color: #CF0; display: inline; float: left;">
                                    @match.AwayTeam</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="45%">
                                <span style="font-size: 1.2em; font-weight: bold; color: #fff; display: inline; float: right;">
                                    0</span>
                            </td>
                            <td width="10%" style="text-align: center; color: #CF0; font-size: 1.0em; height: 22px;">
                            </td>
                            <td width="45%">
                                <span style="font-size: 1.2em; font-weight: bold; color: #fff; display: inline; float: left;">
                                    0&nbsp;&nbsp;&nbsp;&nbsp;
                                    @*<span style="font-size: 0.8em; font-weight: normal">( 78' )</span>*@
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" width="100%" style="text-align: left; color: #fff; font-size: 0.9em;
                                height: 22px; padding-top: 4px;">
                                <b>Match start time :</b> @match.StartDateTime.Value.ToString("yyyy-MM-dd hh:mm") (GMT)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" width="100%" style="text-align: left; color: #fff; font-size: 0.9em;
                                height: 22px; padding-top: 4px;">
                                <b>Market suspended time :</b> @match.MarketCloseTime.Value.ToString("yyyy-MM-dd hh:mm") (GMT)
                            </td>
                        </tr>
                    </table>
                </div>
                <!--match odds-->
                @Html.Partial("MATCHODDS")
                <br />
                <!--home/away-->
                @Html.Partial("DRAWNOBET")
               
        </div>
    </div>
</div>
