@using BetEx247.Data.Model;
@using BetEx247.Core;

@model List<PSV_MYBET>
           

@{
    Layout = null;
    int type = ViewBag.ReportType;
    decimal SettledGross = 0;
    decimal Commissionpaid = 0;
    decimal SettledNet = 0;
    decimal MatchedTurnover = 0;
}
@{
    switch (type)
    {
        case (int)Constant.MyBetStatus.BETTINGPL:
            <table class="gridtable">
                <tr>
                    <th width="26%">
                        Description
                    </th>
                    <th width="10%">
                        No. of Bets
                    </th>
                    <th width="16%">
                        Matched Turnover
                    </th>
                    <th width="16%">
                        Settled Gross P/L
                    </th>
                    <th width="16%">
                        Commission paid
                    </th>
                    <th width="16%">
                        Settled Net P/L
                    </th>
                </tr>
                <tr>
                    <td colspan="6">
                        <table class="gridtable-sub1">
                            <tr>
                                <td width="26%" style="background-color: #fff !important">
                                    All Sports
                                </td>
                                <td width="10%" style="background-color: #fff !important">
                                    @Model.Count
                                </td>
                                <td width="16%" style="background-color: #fff !important">
                                    <label id="lbMatchedTurnover">
                                    </label>
                                </td>
                                <td width="16%" style="background-color: #fff !important">
                                    <label id="lbSettledGross">
                                    </label>
                                </td>
                                <td width="16%" style="background-color: #fff !important">
                                    <label id="lbCommissionpaid">
                                    </label>
                                </td>
                                <td width="16%" style="background-color: #fff !important">
                                    <label id="lbSettledNet">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                @{                       
                               foreach (var item in Model)
                               {
                                   MatchedTurnover += item.Stake;
                                   if (item.IsWon)
                                   {
                                       SettledGross += item.GrossProfit != null ? item.GrossProfit.Value : 0;
                                   }
                                   else
                                   {
                                       SettledGross -= item.GrossProfit != null ? item.GrossProfit.Value : 0;
                                   }

                                   if (item.IsWon)
                                   {
                                       SettledNet += item.NetProfit != null ? item.NetProfit.Value : 0;
                                   }
                                   else
                                   {
                                       SettledGross -= item.NetProfit != null ? item.NetProfit.Value : 0;
                                   }
                    <tr>
                        <td colspan="6" style="padding-left: 0px !important;">
                            <table class="gridtable-sub1">
                                <tr>
                                    <td width="100%">
                                        <span style="padding-left: 25px; display: inline;"><b>[Soccer]</b>&nbsp;:&nbsp; @item.HomeTeam
                                            vs @item.AwayTeam</span> <span style="display: inline; padding-left: 30px;"><b>[Market]</b>&nbsp;:&nbsp;
                                                Match Odds</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="margin-left: 0px !important; padding-left: 35px !important;">
                            <table class="gridtable-sub">
                                <tr>
                                    <th width="20%">
                                        <div style="padding: 2px 2px; text-align: center;">
                                            Date</div>
                                    </th>
                                    <th width="20%">
                                        <div style="padding: 2px 2px; text-align: center;">
                                            Entrant</div>
                                    </th>
                                    <th width="10%">
                                        <div style="padding: 2px 2px; text-align: center;">
                                            B/L</div>
                                    </th>
                                    <th width="20%">
                                        <div style="padding: 2px 2px; text-align: center;">
                                            Amount matched</div>
                                    </th>
                                    <th width="10%">
                                        <div style="padding: 2px 2px; text-align: center;">
                                            Result</div>
                                    </th>
                                    <th width="20%">
                                        <div style="padding: 2px 2px; text-align: center;">
                                            Settled Gross P/L</div>
                                    </th>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        @item.SubmitedTime
                                    </td>
                                    <td width="20%">
                                        @item.MyEntrant
                                    </td>
                                    <td width="10%" align="center">
                                        @item.BL
                                    </td>
                                    <td width="20%">
                                        USD @item.Stake
                                    </td>
                                    <td width="10%" align="center">
                                        @item.IsWon
                                    </td>
                                    <td width="20%">
                                        USD @item.GrossWinning
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                               }
                               Commissionpaid = SettledNet - SettledGross;
                }
                
            </table>
                               break;
        case (int)Constant.MyBetStatus.CANCELLEDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName_WebDisplay)
                        </td>                        
                        <td>
                            @{
                    if (item.BL != null && item.BL == "B")
                    {
                                @Html.Raw("Bet")
                    }
                    else
                    {
                                @Html.Raw("Lay")
                    }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                         <td>
                            <span class="cancelled">Cancelled</span>
                        </td>
                    </tr>
                }
               
            </table>
                break;
        case (int)Constant.MyBetStatus.EXPOSURE:
        case (int)Constant.MyBetStatus.LAPSEDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName_WebDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                           <span class="cancelled">Lapsed</span>
                        </td>
                    </tr>
                }
                
            </table>
                break;
        case (int)Constant.MyBetStatus.SETTLEDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Net P/L(USD)
                    </th>
                    <th>
                        Commission charged
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName_WebDisplay)
                        </td>                         
                        <td>
                            @{
                    if (item.BL != null && item.BL == "B")
                    {
                                @Html.Raw("Bet")
                    }
                    else
                    {
                                @Html.Raw("Lay")
                    }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>                        
                        <td>
                            @{
                    if (item.IsWon)
                    {
                                @Html.Raw("Won")
                    }
                    else
                    {
                                @Html.Raw("Loss")
                    }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.NetProfit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commission)
                        </td>
                    </tr>
                }                
            </table>  
                break;
        case (int)Constant.MyBetStatus.UNMATCHEDBETS:
        case (int)Constant.MyBetStatus.UNSETTLEDBETS:
        case (int)Constant.MyBetStatus.VOIDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName_WebDisplay)
                        </td>                         
                        <td>
                            @{
                    if (item.BL != null && item.BL == "B")
                    {
                                @Html.Raw("Bet")
                    }
                    else
                    {
                                @Html.Raw("Lay")
                    }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                         <td>
                            <span class="cancelled">Void</span>
                        </td>
                    </tr>
                }              
            </table>
                break;
    }
}
