@model IEnumerable<BetEx247.Data.Model.PSV_MYBET>
@using BetEx247.Core;
@{
    Layout = null;
    int type = ViewBag.ReportType;
}
@{
    switch (type)
    {
        case (int)Constant.MyBetStatus.BETTINGPL:
            <table class="gridtable">
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        No. of Bets
                    </th>
                    <th>
                        Matched Turnover
                    </th>
                    <th>
                        Settled Gross P/L
                    </th>
                    <th>
                        Commission paid
                    </th>
                    <th>
                        Settled Net P/L
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatchTurnOver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrossProfit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NetProfit)
                        </td>                        
                    </tr>
                }
                <tr>
                    <td>
                        Test 24 hours
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        1/3
                    </td>
                    <td>
                        57.25
                    </td>
                    <td>
                        2.65
                    </td>
                    <td>
                        54.39
                    </td>
                </tr>
            </table>
                break;
        case (int)Constant.MyBetStatus.CANCELLEDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetId)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName)
                        </td>                        
                        <td>
                            @{
                    if (item.BL != null && item.BL.Value)
                    {
                                @Html.Raw("Bet")
                    }
                    else
                    {
                                @Html.Raw("Lay")
                    }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                         <td>
                            <span class="cancelled">Cancelled</span>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Total goals Over 2/2.5 (First Half)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        1.87
                    </td>
                    <td>
                        <span class="cancelled">Cancelled</span>
                    </td>
                </tr>
            </table>
                break;
        case (int)Constant.MyBetStatus.EXPOSURE:
        case (int)Constant.MyBetStatus.LAPSEDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetId)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <span class="cancelled">Lapsed</span>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Total goals Over 2/2.5 (First Half)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        1.87
                    </td>
                    <td>
                        <span class="cancelled">Lapsed</span>
                    </td>
                </tr>
            </table>
                break;
        case (int)Constant.MyBetStatus.SETTLEDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Net P/L(USD)
                    </th>
                    <th>
                        Commission charged
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName)
                        </td>                         
                        <td>
                            @{
                    if (item.BL != null && item.BL.Value)
                    {
                                @Html.Raw("Bet")
                    }
                    else
                    {
                                @Html.Raw("Lay")
                    }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>                        
                        <td>
                            @{
                    if (item.IsWon)
                    {
                                @Html.Raw("Won")
                    }
                    else
                    {
                                @Html.Raw("Loss")
                    }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.NetProfit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commission)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Manchester Utd -1
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        50
                    </td>
                    <td>
                        2.05
                    </td>
                    <td>
                        <span class="won">Won</span>
                    </td>
                    <td>
                        <span class="won">+52.50</span>
                    </td>
                    <td>
                        2.62
                    </td>
                </tr>
                <tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Manchester Utd -1/2 (First Half)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        1.88
                    </td>
                    <td>
                        <span class="lost">Lost</span>
                    </td>
                    <td>
                        <span class="lost">-20.00</span>
                    </td>
                    <td>
                        0.00
                    </td>
                </tr>                 
            </table>     
                break;
        case (int)Constant.MyBetStatus.UNMATCHEDBETS:
        case (int)Constant.MyBetStatus.UNSETTLEDBETS:
        case (int)Constant.MyBetStatus.VOIDBETS:
            <table class="gridtable">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Match / Event
                    </th>
                    <th>
                        Market
                    </th>
                    <th>
                        B/L
                    </th>
                    <th>
                        Stake
                    </th>
                    <th>
                        Odds
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmitedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BetId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SportName + " - " + item.LeagueName)
                        </td>                         
                        <td>
                            @{
                    if (item.BL != null && item.BL.Value)
                    {
                                @Html.Raw("Bet")
                    }
                    else
                    {
                                @Html.Raw("Lay")
                    }
                            }
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Stake)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                         <td>
                            <span class="cancelled">Void</span>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        2012-10-30
                    </td>
                    <td>
                        e72da32
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000;">
                            Oct 19, 2012 17:30</div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            Manchester Utd v Chelsea</div>
                    </td>
                    <td>
                        Total goals Over 2/2.5 (First Half)
                    </td>
                    <td>
                        B
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        1.87
                    </td>
                    <td>
                        <span class="cancelled">Void</span>
                    </td>
                </tr>
            </table>
                break;
    }
}
