@using System.Data;
@using BetEx247.Data.Model;
@using BetEx247.Core;
@using BetEx247.Core.Common.Extensions;
@using BetEx247.Core.Common.Utils;
@{
    Layout = null;
    DataTable statement = new DataTable();
    List<PSV_TRANSACTION> data = new List<PSV_TRANSACTION>();
    int betDisplay = ViewBag.betDisplay;

    if (betDisplay != (int)Constant.StatementDisplayType.DEPOIST && betDisplay != (int)Constant.StatementDisplayType.WITHDRAW)
    {
        statement = ViewBag.lstStatement;
    }
    else
    {
        data = ViewBag.lstStatement;
    }
}
@{
                
    switch (betDisplay)
    {
        case (int)Constant.StatementDisplayType.COMMISSIONS:
    
    <!--DIV COMMISSION-->
    <div id="dv-commission" style="clear: both; position: relative;">
    <div class="account-box-result-heading">
        @Html.Partial("PaggerControl")
    </div>
        <table class="gridtable">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    ID
                </th>
                <th>
                    Match / Event
                </th>
                <th>
                    Market
                </th>
                <th>
                    B/L
                </th>
                <th>
                    Stake
                </th>
                <th>
                    Odds
                </th>
                <th>
                    Result
                </th>
                <th>
                    Net P/L(USD)
                </th>
                <th>
                    Commission charged
                </th>
            </tr>
            @{
   if (statement != null)
   {
       foreach (DataRow item in statement.Rows)
       {
                <tr>
                    <td>
                        @Html.Raw(item["StatementTime"].ToString().ToDateTime().ToString("yyyy-MM-dd"))
                    </td>
                    <td>
                        @item["BetId"].ToString().SubStringAtEnd3(7, "", "-")
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                                    color: #000;">@item["StartDateTime"].ToString().ToDateTime().ToShortDateString() &nbsp;
                        @item["StartDateTime"].ToString().ToDateTime().ToShortTimeString() </div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                                    color: #000; font-weight: bold;">
                                                    @item["HomeTeam"] v @item["AwayTeam"]</div>
                    </td>
                    <td>
                        @item["MarketID"].ToString().SubStringAtEnd3(7, "", "-")
                    </td>
                    <td>
                        @{
           if (@item["BackOrLay"].ToString() == "1")
           {
                            @Html.Raw("B")
           }
           else
           {
                            @Html.Raw("L")
           }
                        }
                    </td>
                    <td>
                        @CommonHelper.FormatMoney(item["Stake"].ToString().ToDecimal())
                    </td>
                    <td>
                        @CommonHelper.FormatMoney(item["Odds"].ToString().ToDecimal())
                    </td>
                    <td>
                        @item["Type_Result"]
                    </td>                      
                    <td>
                        @CommonHelper.FormatMoney(@item["NetProfit"].ToString().ToDecimal())
                    </td>
                    <td>
                        @CommonHelper.FormatMoney(@item["Commission"].ToString().ToDecimal())
                    </td>
                </tr>
       }
   }
            }
            @*<tr>
                <td>
                    2012-10-30
                </td>
                <td>
                    e72da32
                </td>
                <td>
                    <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                        color: #000;">
                        Oct 19, 2012 17:30</div>
                    <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                        color: #000; font-weight: bold;">
                        Manchester Utd v Chelsea</div>
                </td>
                <td>
                    Manchester Utd -1/2 (First Half)
                </td>
                <td>
                    B
                </td>
                <td>
                    20
                </td>
                <td>
                    1.88
                </td>
                <td>
                    <span class="lost">Lost</span>
                </td>
                <td>
                    <span class="lost">-20.00</span>
                </td>
                <td>
                    0.00
                </td>
            </tr>*@
        </table>
    </div>
   break;
        case (int)Constant.StatementDisplayType.DEPOIST:
    
    <!--DIV DEPOSIT-->
    <div id="dv-deposit" style="clear: both; position: relative;">
    <div class="account-box-result-heading">
        @Html.Partial("PaggerControl")
    </div>
        <table class="gridtable">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Transaction ID
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Card
                </th>
                <th>
                    Status
                </th>
            </tr>
            @{
   if (data != null)
   {
       foreach (PSV_TRANSACTION item in data)
       {
                <tr>
                    <td>
                        @item.AddedDate
                    </td>
                    <td>
                        @item.ResponeTranId
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            [Statement]: Deposit</div>
                    </td>
                    <td>
                        USD @item.Amount
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @if(item.Status==20)
                        {
                            @Html.Raw("APPROVED")
                        }
                    </td>
                </tr>
       }
   }
            }
            @*<tr>
                <td>
                    2012-10-31 12:30
                </td>
                <td>
                    234927438
                </td>
                <td>
                    <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                        color: #000; font-weight: bold;">
                        [Statement]: Deposit</div>
                </td>
                <td>
                    USD 150.00
                </td>
                <td>
                    My Skrill Card
                </td>
                <td>
                    transaction completed
                </td>
            </tr>
            <tr>
                <td>
                    2012-10-31 13:15
                </td>
                <td>
                    323952907
                </td>
                <td>
                    <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                        color: #000; font-weight: bold;">
                        [Statement]: Deposit</div>
                </td>
                <td>
                    JPY 20,000.00
                </td>
                <td>
                    My NETeller Card
                </td>
                <td>
                    transaction completed
                </td>
            </tr>*@
        </table>
    </div>
   break;
        case (int)Constant.StatementDisplayType.LOYALTYREFUND:
   break;
        case (int)Constant.StatementDisplayType.MARKETREFUND:
   
    <!--DIV MARKET REFUND-->
    <div id="dv-marketrefund" style="clear: both; position: relative;">
     <div class="account-box-result-heading">
        @Html.Partial("PaggerControl")
    </div>
        <table class="gridtable">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    ID
                </th>
                <th>
                    Match / Event
                </th>
                <th>
                    Market
                </th>
                <th>
                    B/L
                </th>
                <th>
                    Stake
                </th>
                <th>
                    Odds
                </th>
                <th>
                    Refunding Reason
                </th>
                <th>
                    Amount refunded
                </th>
                <th>
                    Status
                </th>
            </tr>
            @{
   if (statement != null)
   {
       foreach (DataRow item in statement.Rows)
       {
                <tr>
                    <td>
                        @item["StatementTime"].ToString().ToDateTime().ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @item["BetId"].ToString().SubStringAtEnd3(7, "", "-")
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                                    color: #000;">@item["StartDateTime"].ToString().ToDateTime().ToShortDateString() &nbsp;
                        @item["StartDateTime"].ToString().ToDateTime().ToShortTimeString() </div>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                                                    color: #000; font-weight: bold;">
                                                    @item["HomeTeam"] v @item["AwayTeam"]</div>
                    </td>
                    <td>
                        @item["MarketID"]
                    </td>
                    <td>
                        @{
           if (@item["BackOrLay"].ToString() == "1")
           {
                            @Html.Raw("B")
           }
           else
           {
                            @Html.Raw("L")
           }
                        }
                    </td>
                    <td>
                        @CommonHelper.FormatMoney(item["Stake"].ToString().ToDecimal())
                    </td>
                    <td>
                        @CommonHelper.FormatMoney(item["Odds"].ToString().ToDecimal())
                    </td>
                    <td>
                        @item["Reason"]
                    </td>
                    <td>
                        @item["MarketAmountRefund"]
                    </td>
                    <td>
                        @item["Type_Result"]
                    </td>
                </tr>
       }
   }
            }
            
        </table>
    </div>
   break;
        case (int)Constant.StatementDisplayType.WITHDRAW:
   
    <!--DIV WITHDRAWAL-->
    <div id="dv-withdrawal" style="clear: both; position: relative;">
         <div class="account-box-result-heading">
        @Html.Partial("PaggerControl")
    </div>
        <table class="gridtable">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Transaction ID
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Card
                </th>
                <th>
                    Status
                </th>
            </tr>
            @{
   if (data != null)
   {
       foreach (PSV_TRANSACTION item in data)
       {
                <tr>
                    <td>
                        @item.AddedDate
                    </td>
                    <td>
                        @item.ResponeTranId
                    </td>
                    <td>
                        <div style="width: 100%; clear: both; margin: 0 auto; text-align: left; padding-left: 0px;
                            color: #000; font-weight: bold;">
                            [Statement]: Withdraw</div>
                    </td>
                    <td>
                        USD @item.Amount
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Status
                    </td>
                </tr>
       }
   }
            }         
        </table>
    </div>
   break;
    }
    
}
