@using BetEx247.Data;
@using BetEx247.Plugin.Resources;
<div class="header_upper clearfix">
    <div class="grid_20">
        <h1 class="b_logo">
            <a href="." title="24/7 Betting Exchange" rel="home">24/7 Betting Exchange</a></h1>
    </div>
    @{
        string displayNotLogin = " style=display:none";
        string displayLogin = " style=display:none";
        string userName = string.Empty;
        string Available = "0";
        string Exposure = "0";
        string Balance = "0";
        if (SessionManager.UserLoggedIn())
        {
            displayLogin = "";
            userName = SessionManager.USER_NAME;
            if (SessionManager.WalletUserLogged != null)
            {
                Available = SessionManager.WalletUserLogged.Available != null ? SessionManager.WalletUserLogged.Available.ToString() : "0";
                Exposure = SessionManager.WalletUserLogged.Exposure != null ? SessionManager.WalletUserLogged.Exposure.ToString() : "0";
                Balance = SessionManager.WalletUserLogged.Balance != null ? SessionManager.WalletUserLogged.Balance.ToString() : "0";
            }
        }
        else
        {
            displayNotLogin = "";
        }
    }
    <div id="userpanel" class="b_loginButtons clearfix">
        <div class="lang-picker-wrapper">
            <span class="lang-picker"><a class="en-us" href="javascript:void(0);">English</a> 
            <a class="@(BetEx247.Core.Common.Utils.CultureHelper.GetNeutralCulture(Request.UserLanguages[0].ToLower()) == "es" ? Request.UserLanguages[0].ToLower() : "es")" href="javascript:void(0);">
                Español</a> </span>
        </div>
        <!--start_hideonlogin_UserPanel-->
        <div class="regFormTop"  @displayNotLogin>
            <ul>
                <li class="reg_link cnotlogin"><a href="@Url.Content("~/account/register")">@Resources.Register!</a></li>
                <li class="cnotlogin"><a href="@Url.Content("~/account/forgetpassword")">Forgot Your
                    Password?</a></li>
                <li class="cnotlogin">
                    <label for="loginUser">
                        @Resources.ModelUsername:</label><input tabindex="1" id="LoginName" name="LoginName" type="text"
                            style="color: Black" autocomplete="off" /></li>
                <li class="cnotlogin">
                    <label for="pswd">
                        @Resources.ModelPassword:</label><input tabindex="2" id="Password" name="Password" type="password"
                            style="color: Black" autocomplete="off" /><input class="formsubmit" type="submit" /></li>
                <li class="cnotlogin"><a id="loginform_submit" href="javascript:void(0)" onclick="betex247.login()"
                    class="b_button smallButton smallButtonGrey">@Resources.LogOn</a></li>
            </ul>
        </div>
        <div class="header-login-panel" @displayLogin>
            <p>
                <em>Welcome</em> <strong onclick="betex247.accountpanel();" style="cursor:pointer">@userName</strong>
            </p>
            <p>
                <ul class="account-balance">
                    <li><em>Available:</em><strong>$@Available</strong></li>
                    <li><em>Exposure:</em><strong>$@Exposure</strong></li>
                    <li><em>Balance:</em><strong>$@Balance</strong></li>
                </ul>
            </p>
            <p>
                <br />
                <a href="javascript:void(0)" onclick="betex247.logout()">@Resources.LogOff</a>
            </p>
        </div>
        <!--end_hideonlogin_UserPanel-->
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#LoginName').keypress(function (e) {
            if (e.which == 13) {
                jQuery(this).blur();
                jQuery('#loginform_submit').focus().click();
            }
        });

        $('#Password').keypress(function (e) {
            if (e.which == 13) {
                jQuery(this).blur();
                jQuery('#loginform_submit').focus().click();
            }
        });
    });
</script>
