<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="no-cache">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/common.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/sports.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Scripts/JQuery/custom-theme/jquery-ui-slides.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Scripts/JQuery/custom-theme/tabs-noimages.css")" media="screen" />
    <style type="text/css">
        .desc { color:#6b6b6b;}
        .desc a {color:#0092dd;}
        
        .langbox dd, .langbox dt, .langbox ul { margin:0px; padding-top:4px; padding-right: 4px;font-size: 1.0em;}
        .langbox dd { position:relative; }
        .langbox a, .langbox a:visited { color:#000; text-decoration:none; outline:none;}
        .langbox a:hover { color:#fff;}
        .langbox dt a:hover { color:#000; border: 1px solid #000;}
        .langbox dt a {background:#cdc1c1 url(@Url.Content("~/Content/images/themes/arrow.png")) no-repeat scroll right center; display:block; padding-right:20px;
                        border:1px solid #000; width:150px;}
        .langbox dt a span {cursor:pointer; display:block; padding:2px;}
        .langbox dd ul { background:#cdc1c1 none repeat scroll 0 0; border:1px solid #000; color:#C5C0B0; display:none;
                          left:0px; padding:0px 0px; position:absolute; top:0px; width:auto; min-width:170px; list-style:none;}
        .langbox span.value { display:none;}
        .langbox dd ul li a { padding:5px; display:block;}
        .langbox dd ul li a:hover { background-color:#9a9898;}
        
        .langbox img.flag { border:none; vertical-align:middle; margin-left:10px; }
        .flagvisibility { display:none;}
		
		/* alternate colors: skin2 */
		ul.skin2 a {
			background-color:#678;
			color:#fff;
		}
		
		/* mouseover state */
		ul.skin2 a:hover {
			background-color:#678;
			color: #000;
		}
		
		/* active tab */
		ul.skin2 a.current {
			background-color:#ccbf9e;
			border-bottom:2px solid #ccbf9e;
			font-weight: bold;

		}
    </style>
    <script src="@Url.Content("~/Content/Scripts/Microsoft/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/JQuery/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/JQuery/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/JQuery/jquery-ui-slides.min.js")" type="text/javascript"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navsports").hide();
            //toggle the componenet with class msg_body
            $(".sport-heading").click(function () {
                $(this).next(".navsports").slideToggle(250);
            });

            $(".langbox img.flag").addClass("flagvisibility");

            $(".langbox dt a").click(function () {
                $(".langbox dd ul").toggle();
            });

            $(".langbox dd ul li a").click(function () {
                var text = $(this).html();
                $(".langbox dt a span").html(text);
                $(".langbox dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("langbox"))
                    $(".langbox dd ul").hide();
            });

            $(".langbox img.flag").toggleClass("flagvisibility");
        });


        /*odds-commentaries slides*/
        $(function () {
            $('#slides').slides({
                preload: true,
                preloadImage: '@Url.Content("~/Content/images/themes/loading.gif")',
                play: 5000,
                pause: 2500,
                hoverPause: true,
                generatePagination: false,
                animationStart: function (current) {
                    $('.caption').animate({
                        bottom: -35
                    }, 100);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationStart on slide: ', current);
                    };
                },
                animationComplete: function (current) {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationComplete on slide: ', current);
                    };
                },
                slidesLoaded: function () {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                }
            });
        });
    </script>
</head>
<body>
    <div class="l-container">
        <div class="l-header container_20 clearfix">
            <header>
            @Html.Partial("_Header")
            </header>
            <section id="main">
            <div class="main shadow extra-10">
			<!-- menu -->
			@Html.Partial("_Menu")           
            <div id="content-main">             
                @RenderBody()
            </div>
            </div>
             </section>
            <footer>
            @Html.Partial("_Footer")
            </footer>
        </div>
    </div>
</body>
</html>
