<div class="nav-list-wrap">
    <div style="position: relative; float: left;">
        <ul class="main-nav" id="navi">
            <li class="mn-nav-prdcts selected"><a href="@Url.Content("~/home/index")"" class="" id="mainNavHome">Home</a>
            </li>
            <li class="mn-nav-prdcts"><a href="index.html" class="" id="mainNavHome">Livescores</a>
            </li>
            <li class="mn-nav-prdcts"><a href="index.html" class="" id="mainNavHome">Live Betting</a>
            </li>
            <li class="mn-nav-prdcts"><a href="index.html" class="" id="mainNavHome">Fixtures &
                results</a> </li>
        </ul>
    </div>
    <div class="lang-sel">
        <dl id="sample" class="langbox">
            <dt><a href="#"><span>Please select the country</span></a></dt>
            <dd>
                <ul>
                    <li><a href="#">中国<img class="flag" src="@Url.Content("~/Content/images/themes/br.png")"
                        alt="" /><span class="value">CN</span></a></li>
                    <li><a href="#">France<img class="flag" src="@Url.Content("~/Content/images/themes/fr.png")"
                        alt="" /><span class="value">FR</span></a></li>
                    <li><a href="#">Germany<img class="flag" src="@Url.Content("~/Content/images/themes/de.png")"
                        alt="" /><span class="value">DE</span></a></li>
                    <li><a href="#">India<img class="flag" src="@Url.Content("~/Content/images/themes/in.png")"
                        alt="" /><span class="value">IN</span></a></li>
                    <li><a href="#">日本語<img class="flag" src="@Url.Content("~/Content/images/themes/jp.png")"
                        alt="" /><span class="value">JP</span></a></li>
                    <li><a href="#">Serbia<img class="flag" src="@Url.Content("~/Content/images/themes/cs.png")"
                        alt="" /><span class="value">CS</span></a></li>
                    <li><a href="#">United Kingdom<img class="flag" src="@Url.Content("~/Content/images/themes/gb.png")"
                        alt="" /><span class="value">UK</span></a></li>
                    <li><a href="#">United States<img class="flag" src="@Url.Content("~/Content/images/themes/us.png")"
                        alt="" /><span class="value">US</span></a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>