<div>
<div class="ChooseSportsHeader">
    <span class="orange">My Account</span>
</div>
</div>
<div id="accordion-container">
    <h2 class="accordion-header">
        My Account</h2>
    <div class="accordion-content">
        <ul>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/balances")')" href="javascript:void(0)">Account Balances</a></li>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/statement")')" href="javascript:void(0)">Statements</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Bets</h2>
    <div class="accordion-content">
        <ul>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/exposure")')" href="javascript:void(0)">Exposure</a></li>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/unmatchedbets")')" href="javascript:void(0)">Unmatched Bets</a></li>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/unsettledbets")')" href="javascript:void(0)">Unsettled Bets</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Bet History</h2>
    <div class="accordion-content">
        <ul>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/bettingpl")')" href="javascript:void(0)">Betting P/L</a></li>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/settledbets")')" href="javascript:void(0)">Settled Bets</a></li>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/cancelledbets")')" href="javascript:void(0)">Cancelled Bets</a></li>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/lapsedbets")')" href="javascript:void(0)">Lapsed Bets</a></li>
            <li><a onclick="betex247.accountpage('@Url.Content("~/account/voidbets")')" href="javascript:void(0)">Void Bets</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Cards</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-UpdateCards.html">Update Cards</a></li>
            <li><a href="Account-Deposit.html">Deposit</a></li>
            <li><a href="Account-Withdraw.html">Withdraw</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Details</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-MyProfile.html">My Profile</a></li>
            <li><a href="Account-Security.html">Account Security</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        Messages Center</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-Inbox.html">Inbox</a></li>
            <li><a href="Account-Compose.html">Compose</a></li>
            <li><a href="Account-Sent.html">Sent</a></li>
        </ul>
    </div>
</div>
