<div>
<div class="ChooseSportsHeader">
    <span class="orange">My Account</span>
</div>
</div>
<div id="accordion-container">
    <h2 class="accordion-header">
        My Account</h2>
    <div class="accordion-content" id="displayblock1">
        <ul>
            <li><a href="@Url.Content("~/account/account/1")">Account Balances</a></li>
            <li><a href="@Url.Content("~/account/account/2")">Statements</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Bets</h2>
    <div class="accordion-content" id="displayblock2">
        <ul>
            <li><a href="@Url.Content("~/account/account/3")">Exposure</a></li>
            <li><a  href="@Url.Content("~/account/account/4")">Unmatched Bets</a></li>
            <li><a href="@Url.Content("~/account/account/5")">Unsettled Bets</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Bet History</h2>
    <div class="accordion-content" id="displayblock3">
        <ul>
            <li><a href="@Url.Content("~/account/account/6")">Betting P/L</a></li>
            <li><a href="@Url.Content("~/account/account/7")">Settled Bets</a></li>
            <li><a href="@Url.Content("~/account/account/8")">Cancelled Bets</a></li>
            <li><a href="@Url.Content("~/account/account/9")">Lapsed Bets</a></li>
            <li><a href="@Url.Content("~/account/account/10")">Void Bets</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Cards</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-UpdateCards.html">Update Cards</a></li>
            <li><a href="Account-Deposit.html">Deposit</a></li>
            <li><a href="Account-Withdraw.html">Withdraw</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Details</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-MyProfile.html">My Profile</a></li>
            <li><a href="Account-Security.html">Account Security</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        Messages Center</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-Inbox.html">Inbox</a></li>
            <li><a href="Account-Compose.html">Compose</a></li>
            <li><a href="Account-Sent.html">Sent</a></li>
        </ul>
    </div>
</div>    